<head>
    <script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
    <script type="text/javascript">
        $(function() {
            var cycles = 3;
            var samples = 100;
            var step = (2.0 * Math.PI * cycles) / samples;
            var arr = [];
            console.log("Math.pi: " + Math.PI);
            for ( let i = 0; i < samples; i++ ) {
                arr.push([i*step, Math.sin(i*step)]);
            }

            $.plot("#graph", [arr]);
        });
    </script>
</head>
<body>
    <h2>Example 1</h2>
    <div style="width: 800px; height: 600px;" id="graph"></div>
</body>
